@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  font-family: 'Lobster', cursive;
}

img {
  border-radius: 50%;
  margin: 90px;
}
.App{
display: grid;
grid-template-columns:  1fr;
}
.shoes,
.res,
.brend {

  display: flex;
  justify-content: space-between;
}
.shoes{
  margin-top: -40px;
}

.brend {
  width: 1200px;
  margin-left: 170px;
  font-size: 30px;
}

span {
  font-size: 20px;
}